
      <%- include("./header.ejs") %>
      <div class="hero-unit">
        <h1>欢迎来到 Microblog</h1>
        <p>Microblog 基于 Node.js 的微博系統。</p>
        <p>
          <a class="btn btn-primary btn-large" href="/login">登录</a>
          <a class="btn btn-default btn-large" href="/register">立即注册</a>
        </p>
      </div>
      <%- include("./footer.ejs") %>
